# Local Postgres connection. Update to match your local DB or Render's
# managed Postgres connection string when deploying.
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/statworkforce?schema=public"

# Used to sign session JWTs. Generate your own with: openssl rand -base64 32
SESSION_SECRET="replace-with-a-generated-32-byte-base64-secret"
